{% extends "base.html" %}
{% block title %} Отчёты {% endblock title %}
{% block header %} Отчёты  {% endblock header %}
{% block button %}
<a href="/control_panel/">Товары</a>
<a href="#">Поставки</a>
<a href="http://127.0.0.1:8000/">Домашняя страница</a>
{% endblock button %}
{% block main %}
<main>
    <h2>Отчеты по складу</h2>
    <table>
        <thead>
            <tr>
                <th>Название отчета</th>
                <th>Дата</th>
                <th>Ф.И.О состовляющего отчёт</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in data_reports.items %}
            <tr>
                <td><a href="/control_panel/download_report/{{k}}">{{k}}</a></td>
                <td>{{v.0}}</td>
                <td>{{v.1}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-container">
            <button class="upload-button">Загрузить файл</button>
            <input type="file" class="file-input" name="file_report">
        </div>    
    </form>
</main>
{% endblock main %}